h1 {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 260%;
  line-height: 110%;
  font-weight: 700;
  letter-spacing: 0.5px;
}

em {
  margin-left: 1px;
  color: #ffdaa1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.bb {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Graphik cy web', sans-serif;
}

.m {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 960px;
  min-height: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-family: 'Sequel sans headline';
  font-size: 120%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.m.sticky {
  position: relative;
  top: 0px;
  z-index: 10;
}

.m.m--static {
  position: fixed;
  top: 60px;
  z-index: 11;
}

.m.m--static.hidden {
  display: none;
}

.c {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.c.full {
  max-width: 100%;
}

.c.c_slider {
  z-index: 1;
}

.c.c--phpo_bg1 {
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
}

.grid-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  height: 340px;
  margin-bottom: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  cursor: -webkit-zoom-in;
}

.grid-item.featured {
  width: 480px;
}

.grid-item.third {
  width: 320px;
}

.grid-item.item_active {
  opacity: 0.27;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.grid-item.grid-item-top {
  height: 480px;
  margin-bottom: 20px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 33%;
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
}

.grid-item.grid-item-top.pop {
  background-color: #0f0f0f;
}

.grid-item.grid-item-withbg {
  height: 350px;
}

.grid-item.grid-item-withbg.pop {
  background-color: #0f0f0f;
}

.h {
  position: relative;
  top: 0px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.bg {
  background-color: #000;
  font-family: 'Graphik cy web', sans-serif;
  color: #dbdbdb;
  font-size: 13px;
  line-height: 140%;
}

.bg.bg_pp {
  background-image: -webkit-linear-gradient(270deg, #000 13%, transparent 69%), url('../images/bg1.81c3a863.jpg');
  background-image: linear-gradient(180deg, #000 13%, transparent 69%), url('../images/bg1.81c3a863.jpg');
  background-position: 0px 0px, 50% 120px;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.bg.temp--atari {
  background-color: #fff;
  color: #1a1a1a;
}

.bg.xxx_theme_light {
  background-color: #fff;
  color: #000;
}

.bg.xxx_theme_3 {
  background-color: #000;
  background-image: -webkit-linear-gradient(270deg, rgba(33, 1, 73, .5), rgba(33, 1, 73, .5)), url('../images/bg1.81c3a863.jpg');
  background-image: linear-gradient(180deg, rgba(33, 1, 73, .5), rgba(33, 1, 73, .5)), url('../images/bg1.81c3a863.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, auto 100%;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  color: #ff0303;
}

.sizer {
  width: 220px;
}

.item_inner {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 100%;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: none;
  -webkit-transition: none 0ms ease;
  transition: none 0ms ease;
}

.item_inner:hover {
  box-shadow: none;
}

.item_inner.featured {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.c_pic {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  min-height: 130px;
  margin-bottom: 8px;
  border-radius: 3px;
  background-image: url('../images/Immortalization-Edition--Double.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}

.c_pic:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.c_pic.c-bg--sale {
  background-image: url('../images/57630c3f2dfd0800251e3f72_Screen-Shot-2016-06-15-at-16.20.png');
}

.c_pic.c_pic--slider {
  width: 160px;
  min-height: 180px;
  background-position: 0px 50%;
}

.c_pic.c_pic--slider.temp2 {
  background-image: url('../images/Founder-Edition.png');
}

.c_pic.c_pic--slider.temp3 {
  background-image: url('../images/Luxury-Digital-Edition.png');
}

.c_pic.c_pic_custom {
  min-height: 280px;
  background-image: url('../images/Tier3GIF_2MB25fps_still.gif');
  background-position: 50% 50%;
  background-size: auto 100%;
}

.c_pic.c_pic_custom:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.c-txt1 {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 5;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 90%;
  line-height: 130%;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
}

.c_txt1_desc {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  min-width: 100%;
  margin-bottom: 12px;
  opacity: 0.51;
  font-size: 90%;
  line-height: 140%;
}

.c_txt1_desc.c-txt1-feat {
  height: auto;
}

.c_txt1_desc.c-txt1-clamp {
  height: 34px;
}

.c_txt1_price {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  color: #f2542d;
}

.c_txt1_price.old {
  display: none;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
  -webkit-filter: none;
  filter: none;
  color: #7e7e7e;
}

.c_txt1_name {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 4px;
  font-size: 120%;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.text-block {
  display: inline-block;
}

.c_h {
  margin-bottom: 40px;
  padding-top: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid hsla(0, 0%, 100%, .12);
  color: #fff;
  font-size: 160%;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.x {
  position: fixed;
  left: 50px;
  top: 50vh;
  z-index: 100;
  display: none;
  width: 150px;
  height: 100px;
  margin-top: -50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.x_1 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  box-shadow: 1px 1px 23px -9px #000;
}

.x_2 {
  position: absolute;
  right: 0px;
  display: none;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
}

.x_1_pic {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  border-radius: 100px;
  background-color: #0f0f0f;
  background-image: url('../images/Xsolla-Logo-Col-Transparent-Minimal-Margins.svg');
  background-position: 56% 50%;
  background-size: 88px;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.x_1_pic:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

.x_2_pic {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Materialicons, sans-serif;
  font-size: 28px;
  text-align: center;
}

.x_2_pic.inactive {
  opacity: 0.42;
}

.g {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.g.hidden {
  display: none;
}

.c_bg_hover {
  position: absolute;
  left: 4px;
  top: 0px;
  right: 4px;
  bottom: -10px;
  z-index: 0;
  display: none;
  overflow: hidden;
  padding-top: 0px;
  border-radius: 4px;
  background-color: #161616;
  box-shadow: 0 8px 53px -12px #000;
  opacity: 0;
  -webkit-transform: scale3d(0.4, 0.2, 1) translate(0px, -160px);
  transform: scale3d(0.4, 0.2, 1) translate(0px, -160px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.c_bg_hover.shown {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.c_bg_hover.feat {
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 0px;
  opacity: 0;
  -webkit-transform: scale3d(0.4, 0.2, 1) translate(0px, -160px);
  transform: scale3d(0.4, 0.2, 1) translate(0px, -160px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.c_bg_hover.bg_shown {
  z-index: 0;
  border-radius: 4px;
  opacity: 0.49;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.c_bg_hover.bg_shown.hidden {
  display: none;
}

.bbg {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}

.x_2_title {
  position: absolute;
  left: 57px;
  width: 152.140625px;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.swiper-slide {
  display: block;
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.swiper-button-prev {
  width: 40px;
  height: 40px;
  margin-left: 10%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.swiper-button-next {
  width: 40px;
  height: 40px;
  margin-right: 10%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.z {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  background-color: rgba(0, 0, 0, .71);
  opacity: 1;
  cursor: not-allowed;
}

.z.hidden {
  display: none;
  background-color: rgba(0, 0, 0, .84);
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.c_bg_blur {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  border-radius: 4px;
  background-image: url('../images/57630c3f59a28bfc6868ae31_Screen-Shot-2016-06-15-at-16.19.png');
  background-position: 50% 50%;
  background-size: 200%;
  opacity: 0.21;
  -webkit-filter: blur(11px);
  filter: blur(11px);
}

.c-txt2 {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 5;
  display: block;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.c_txt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.c_txt.featured {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.slider {
  position: relative;
  z-index: 1;
}

.x_1_pic_bg {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  background-image: url('../images/Xsolla-logo.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.14;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

.item {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.item_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.item_container.pop {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.but_fav {
  position: absolute;
  top: 6px;
  right: 14px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  padding-bottom: 1px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0);
  border-radius: 40px;
  opacity: 0;
  -webkit-transition: opacity 200ms ease, border-color 200ms ease;
  transition: opacity 200ms ease, border-color 200ms ease;
}

.but_fav:hover {
  border-color: hsla(0, 0%, 100%, .09);
  opacity: 0.53;
}

.but_fav.but_fav_active {
  border-color: #fff;
  opacity: 1;
}

.but_fav.active {
  opacity: 0.87;
  -webkit-filter: brightness(68%) sepia(100%) hue-rotate(0deg) saturate(500%);
  filter: brightness(68%) sepia(100%) hue-rotate(0deg) saturate(500%);
  cursor: pointer;
}

.but_icon {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.ix_actbuts {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 30px;
  z-index: 2;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
}

.ix_actbuts.shown {
  width: 100%;
  opacity: 1;
}

.but {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  min-width: 32px;
  margin-right: 4px;
  margin-left: 4px;
  padding-right: 16px;
  padding-bottom: 0.05em;
  padding-left: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, .17);
  border-radius: 30px;
  -webkit-transition: color 200ms ease, border-color 200ms ease, background-color 200ms ease;
  transition: color 200ms ease, border-color 200ms ease, background-color 200ms ease;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
}

.but:hover {
  border-color: #c36d00;
  opacity: 1;
  color: #c36d00;
}

.but.but_main {
  padding-right: 16px;
  padding-left: 16px;
  color: #fff;
}

.but.but_main:hover {
  border-color: rgba(195, 109, 0, 0);
  background-color: #ff3401;
  color: #fff;
}

.but.but_main.but_big {
  height: 48px;
  padding-right: 36px;
  padding-left: 36px;
  border-color: #ff3401;
  background-color: #ff3401;
  -webkit-transition: color 200ms ease, border-color 200ms ease, background-color 200ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: color 200ms ease, border-color 200ms ease, background-color 200ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: color 200ms ease, border-color 200ms ease, background-color 200ms ease, transform 200ms ease, box-shadow 200ms ease;
  transition: color 200ms ease, border-color 200ms ease, background-color 200ms ease, transform 200ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
  font-size: 16px;
}

.but.but_main.but_big:hover {
  box-shadow: 0 1px 3px -2px #000;
  -webkit-transform: translate(0px, -2px) scale(1.03);
  -ms-transform: translate(0px, -2px) scale(1.03);
  transform: translate(0px, -2px) scale(1.03);
}

.but.but_main.but_big.ps_but.xxx_theme_light:hover {
  color: #fff;
}

.but.but_main.but_slider {
  height: 40px;
  padding-right: 24px;
  padding-left: 24px;
  font-size: 13px;
}

.but.but_main.k_ix_show.xxx_theme_3 {
  border-color: #f30;
  color: red;
}

.but.but_small {
  height: 28px;
  margin-bottom: 0px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 14px;
  font-size: 9px;
  line-height: 90%;
}

.but.but_small.hidden {
  display: none;
}

.but.but_small.but_x {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 1px;
  padding-right: 0px;
  padding-left: 0px;
}

.but.but_big {
  height: 48px;
  padding-right: 22px;
  padding-left: 22px;
  font-size: 22px;
}

.but.but_slider {
  height: 40px;
  min-width: 42px;
}

.but.but--kart {
  background-image: url('../images/Cart.svg');
  background-position: 50% 50%;
  background-size: 16px;
  background-repeat: no-repeat;
}

.but.but--kart.xxx_theme_light {
  border-color: hsla(0, 0%, 100%, .17);
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.but.but--kart.xxx_theme_3 {
  border-color: rgba(255, 0, 0, .17);
  -webkit-filter: none;
  filter: none;
}

.but.xxx_theme_light {
  border-color: rgba(0, 0, 0, .17);
  color: #000;
}

.c-txt0 {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: 'Sequel sans display';
  font-size: 130%;
  line-height: 120%;
  font-weight: 300;
  letter-spacing: 0px;
}

.c-txt0.c-txt0--slider {
  width: auto;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 230%;
}

.c_txt1_price_new {
  position: relative;
  z-index: 1;
  display: block;
  border-radius: 1px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  color: #f2542d;
}

.buts_main_buy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.buts_main_buy.hidden {
  display: none;
}

.buts_main_buy.buts_main_buy--left {
  width: 100%;
  margin-left: -9px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.buts_main_feat {
  position: relative;
  bottom: 20px;
  z-index: 1;
}

.buts_main_preorder {
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.buts_main_preorder.hidden {
  display: none;
}

.c_bg_feat {
  position: absolute;
  left: 4px;
  top: 0px;
  right: 4px;
  bottom: 0px;
  z-index: 0;
  display: none;
  overflow: hidden;
  border-radius: 6px;
  background-color: #161616;
  box-shadow: 0 8px 53px -12px #000;
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.c_bg_feat.shown {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.c_bg_feat.feat {
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 0px;
  opacity: 0;
  -webkit-transform: scale3d(0.4, 0.2, 1) translate(0px, -160px);
  transform: scale3d(0.4, 0.2, 1) translate(0px, -160px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.c_bg_feat.bg_shown {
  z-index: 0;
  border-radius: 4px;
  opacity: 0.49;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.c_bg_feat.bg_shown.hidden {
  display: none;
}

.c_bg_feat.hidden {
  display: none;
}

.h_bg_line {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  height: 60px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0);
}

.h_menu {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

.h_acc {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h_ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.h_li {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 30px;
  margin-right: 4px;
  margin-left: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  cursor: pointer;
}

.h_li:hover {
  opacity: 0.74;
}

.h_cart_num {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 25px;
  min-width: 25px;
  margin-top: -2px;
  margin-left: 8px;
  padding-top: 2px;
  padding-right: 7px;
  padding-left: 7px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: #f2542d;
}

.h_cart_num.xxx_theme_3 {
  background-color: #fff;
}

.m_ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.m_li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  margin-right: 40px;
  margin-left: 0px;
  padding-right: 6px;
  padding-left: 6px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 3px solid rgba(255, 248, 238, 0);
  -webkit-transition: opacity 200ms ease, -webkit-transform 400ms ease-in-out;
  transition: opacity 200ms ease, -webkit-transform 400ms ease-in-out;
  transition: opacity 200ms ease, transform 400ms ease-in-out;
  transition: opacity 200ms ease, transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  cursor: pointer;
}

.m_li:hover {
  opacity: 0.61;
  -webkit-transform: translate(0px, 2px);
  -ms-transform: translate(0px, 2px);
  transform: translate(0px, 2px);
}

.m_li.active {
  border-top-color: #f2542d;
  color: #f2542d;
}

.m_li.active:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.hh {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 920px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.icon {
  font-family: Materialicons, sans-serif;
}

.icon.icon_cart {
  margin-right: -1px;
}

.icon.k_pay_700_icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon.k_pay_700_icon.k_pay_700_icon--active {
  color: #d8d8d8;
}

.emphasized-text {
  color: #facd8a;
}

.text-block-2 {
  line-height: 130%;
}

.item_buts {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.k {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 200;
  display: none;
}

.k.shown {
  position: relative;
  display: block;
  opacity: 1;
}

.kz {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  display: none;
  background-color: rgba(0, 0, 0, .81);
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  cursor: pointer;
}

.kz:hover {
  opacity: 0.75;
}

.kb {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  overflow: auto;
  width: 50%;
  max-width: 700px;
  min-width: 700px;
  padding-top: 40px;
  padding-bottom: 20px;
  -webkit-transform: translate(800px, 0px);
  -ms-transform: translate(800px, 0px);
  transform: translate(800px, 0px);
}

.kb.kb_temp1 {
  left: 0px;
}

.kb.shown {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.kb.kb_phoenix {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.k_h {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px none #4e4e4e;
  font-family: 'Sequel sans body text';
  color: #dbdbdb;
  font-size: 180%;
  line-height: 140%;
  letter-spacing: 0.5px;
}

.k_h.k_h--sum {
  margin-bottom: 20px;
}

.k_cont {
  position: relative;
  z-index: 1;
  width: 100%;
}

.k_ul {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
}

.k_ul.k_ul--sum {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-top: 0px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 50%;
}

.k_ul.k_ul_total--sum {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-left: 20px;
  padding-left: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 50%;
}

.k_li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.k_li.k_li--total {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid hsla(0, 0%, 100%, .12);
}

.k_li.k_li--summ {
  margin-right: 14px;
  margin-bottom: 10px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.k_li.k_li--subtotal {
  margin-bottom: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid hsla(0, 0%, 100%, .05);
  font-family: 'Sequel sans display';
  font-size: 90%;
  font-weight: 300;
  letter-spacing: 1px;
}

.k_pic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  background-image: url('../images/56ab10e61473b0ad4853fbe1_0cZjetoYTxAAAAAElFTkSuQmCC.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.k_pic.k_li_pic--summ {
  width: 40px;
  height: 40px;
}

.k_li_name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.k_li_name.hidden {
  display: none;
}

.k_q_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.k_q_block.hidden {
  display: none;
}

.k_li_price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  padding-right: 0px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 120%;
}

.k_li_price.k_li_price_total {
  padding-top: 0px;
}

.k_li_price.hidden {
  display: none;
}

.k_li_act {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  padding-top: 30px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  opacity: 0.31;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Materialicons, sans-serif;
  font-size: 24px;
  cursor: pointer;
}

.k_li_act:hover {
  opacity: 1;
  color: #ad0000;
}

.k_li_act.hidden {
  display: none;
}

.k_name {
  margin-bottom: 2px;
  line-height: 140%;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.k_desc {
  overflow: hidden;
  color: hsla(0, 0%, 86%, .49);
  font-size: 90%;
  line-height: 140%;
  letter-spacing: 0.5px;
}

.k_desc.xxx_theme_light {
  color: rgba(0, 0, 0, .49);
}

.k_li_price_old {
  display: none;
  margin-top: 4px;
  opacity: 0.38;
  font-size: 80%;
}

.k_q_but_minus {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  min-width: 30px;
  padding-right: 4px;
  padding-left: 4px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 200ms ease, -webkit-transform 200ms ease;
  transition: opacity 200ms ease, -webkit-transform 200ms ease;
  transition: opacity 200ms ease, transform 200ms ease;
  transition: opacity 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
  font-size: 120%;
  cursor: pointer;
}

.k_q_but_minus:hover {
  opacity: 0.78;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.k_q_but_minus.disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

.k_q_control {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  min-width: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, .14);
  border-radius: 40px;
  font-size: 120%;
  line-height: 100%;
  font-weight: 300;
}

.k_q_control.xxx_theme_light {
  border-color: rgba(0, 0, 0, .14);
}

.k_li_total_label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
  font-size: 120%;
}

.k_li_total_label.xxx_theme_light {
  color: #000;
}

.k_body {
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 920px;
  margin-bottom: 40px;
  padding: 40px;
}

.k_body.k_body--pp {
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, .15);
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .07);
}

.k_bg {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.k_next {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.k_next.k_next_close_cart {
  position: absolute;
  right: 0px;
  padding-right: 0px;
}

.k_summary {
  position: absolute;
  left: 60px;
  top: 40px;
  right: 60px;
  z-index: 1;
  margin-bottom: 20px;
  padding-right: 0px;
  border-bottom: 2px none hsla(0, 0%, 100%, .11);
  opacity: 0;
  -webkit-transform: translate(0px, 90px);
  -ms-transform: translate(0px, 90px);
  transform: translate(0px, 90px);
}

.k_summary.shown {
  position: relative;
  left: 0px;
  top: 0px;
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.k_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.k_inner.k_inner--summ {
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 23px;
  line-height: 140%;
}

.k_step_1 {
  margin-bottom: 40px;
}

.k_step_2 {
  position: absolute;
  left: 0px;
  top: 180px;
  right: 0px;
  display: none;
  opacity: 0;
}

.k_step_2.shown {
  position: relative;
  top: 0px;
  display: block;
  opacity: 1;
}

.k_pay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.k_pay_select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 10px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.k_pay_card {
  position: static;
  left: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 442px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.k_pay_card_legal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: hsla(0, 0%, 86%, .27);
  font-size: 86%;
}

.k_pay_card_body {
  position: relative;
  width: 294px;
  height: 170px;
  padding: 16px 26px 8px;
  border-radius: 8px;
  background-color: #fff;
  color: #8a8a8a;
}

.k_pay_card_body.k_pay_card_body--1 {
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #797979;
  box-shadow: 0 14px 33px -12px rgba(0, 0, 0, .45);
}

.k_pay_card_body.k_pay_card_body--2 {
  position: absolute;
  top: 50px;
  z-index: 0;
  margin-left: 146px;
  background-color: #5d5d5d;
  box-shadow: 0 8px 13px -9px rgba(0, 0, 0, .55);
}

.k_pay_card_line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.k_pay_card_label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #ddd;
  font-size: 90%;
}

.form_input {
  width: 100%;
  height: 25px;
  margin-bottom: 8px;
  border: 1px solid #9c9c9c;
  border-radius: 1px;
  box-shadow: inset 0 1px 4px -3px #000;
  -webkit-transition: border 200ms ease, background-color 200ms ease, -webkit-transform 200ms ease;
  transition: border 200ms ease, background-color 200ms ease, -webkit-transform 200ms ease;
  transition: border 200ms ease, background-color 200ms ease, transform 200ms ease;
  transition: border 200ms ease, background-color 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
  font-family: Inconsolata, monospace;
  color: #000;
}

.form_input:hover {
  border-color: #b4cfff;
  background-color: #e3fffe;
}

.form_input:focus {
  border-color: #44d2ff;
  background-color: #d9f7ff;
  box-shadow: inset 0 1px 4px -3px #000, 0 1px 6px -2px #008bf8;
  -webkit-transform: translate(0px, -1px);
  -ms-transform: translate(0px, -1px);
  transform: translate(0px, -1px);
}

.form_input.form_input_date {
  width: 36px;
  margin-right: 8px;
}

.form_input.hidden {
  display: none;
}

.form_input.form_input_cardnum {
  width: 242px;
}

.k_pay_card_cvv {
  position: absolute;
  top: 60px;
  right: 24px;
  width: 92px;
}

.k_pay_select_ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 4px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.k_pay_select_ul.k_pay_700_ul {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.k_pay_select_li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 45px;
  min-width: 100px;
  margin-right: 4px;
  margin-bottom: 0px;
  padding: 8px 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 0px;
  opacity: 0.86;
  -webkit-transition: background-color 300ms ease-in-out, opacity 300ms ease-in-out, box-shadow 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, opacity 300ms ease-in-out, box-shadow 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, opacity 300ms ease-in-out, box-shadow 300ms ease-in-out, transform 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, opacity 300ms ease-in-out, box-shadow 300ms ease-in-out, transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  text-align: center;
  cursor: pointer;
}

.k_pay_select_li:hover {
  border-left-color: hsla(0, 0%, 100%, 0);
  border-radius: 3px;
  background-color: hsla(0, 0%, 100%, .02);
  box-shadow: 0 1px 6px -6px #000;
  opacity: 1;
  -webkit-transform: translate(0px, -4px);
  -ms-transform: translate(0px, -4px);
  transform: translate(0px, -4px);
}

.k_pay_select_li.active {
  padding-top: 11px;
  border-style: none;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, .41);
  border-radius: 4px;
  background-color: #2a2a2a;
  box-shadow: 0 2px 5px -3px rgba(0, 0, 0, .33);
  opacity: 1;
  -webkit-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
  cursor: default;
}

.k_pay_select_li.k_pay_select_li_more {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.k_pay_select_li.k_pay_select_li_700 {
  margin-bottom: 4px;
  border-radius: 3px;
  background-color: #1f1f1f;
}

.k_pay_select_icon {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  margin-right: 8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.k_pay_card_summ {
  margin-bottom: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.k_summ_hover {
  position: absolute;
  left: -20px;
  top: -10px;
  right: -20px;
  bottom: 10px;
  z-index: 10;
  display: block;
  border-radius: 4px;
  background-color: #222;
  opacity: 0.42;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  cursor: pointer;
}

.k_summ_hover:hover {
  opacity: 0.03;
}

.k_pay_method {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 580px;
  height: 400px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 4px;
  background-color: #2a2a2a;
}

.k_pay_card_save_label {
  display: block;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 80%;
}

.k_pay_card_save_check {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox {
  position: relative;
  margin-right: 10px;
  margin-left: -20px;
}

.k_summary_cont {
  position: relative;
  display: none;
  width: 100%;
  opacity: 0;
}

.k_summary_cont.shown {
  position: relative;
  display: block;
  opacity: 1;
}

.k_pay_card_legal_shield2 {
  margin-right: 20px;
  opacity: 0.3;
}

.k_bot_left {
  position: absolute;
  left: 0px;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  min-width: 160px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.k_pay_map {
  width: 100%;
  min-height: 400px;
  background-image: url('../images/Screen-Shot-2017-08-10-at-23.37.42.png');
  background-position: 50% 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.k_pay_map.hidden {
  display: none;
}

.k_pay_paypal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 250px;
  padding: 40px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.k_pay_700 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 40px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block {
  font-size: 18px;
  letter-spacing: 1px;
}

.k_pay_700_search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.k_pay_700_search_input {
  width: 260px;
  height: 36px;
  border-radius: 100px;
  background-color: #242424;
}

.k_pay_700_search_icon {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Materialicons, sans-serif;
  color: #464646;
  font-size: 22px;
}

.k_pay_700_search_modes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #444;
  font-size: 19px;
}

.s {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 0;
  width: 100%;
  height: 460px;
}

.s.hidden {
  display: none;
}

.s_slide {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 460px;
  padding-top: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.s_bg {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  background-image: url('../images/phpo_1.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.s_bg.s_b-temp1 {
  background-image: url('../images/phpo_3.jpg');
  background-size: cover;
  background-attachment: scroll;
}

.s_bg.s_b-temp2 {
  background-image: url('../images/phpo_2.jpg');
  background-size: cover;
  background-attachment: scroll;
}

.s_bg_g {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-image: -webkit-linear-gradient(0deg, #0f0f0f 4%, hsla(0, 0%, 6%, .66) 37%, hsla(0, 0%, 6%, .67) 60%, #0f0f0f 97%);
  background-image: linear-gradient(90deg, #0f0f0f 4%, hsla(0, 0%, 6%, .66) 37%, hsla(0, 0%, 6%, .67) 60%, #0f0f0f 97%);
}

.h_bg {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  display: none;
  height: 60px;
  background-image: url('../images/bg1.81c3a863.jpg');
  background-position: 50% 0px;
  background-size: 100%;
}

.h_bg.hidden {
  display: none;
}

.s_c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.s_c.s_c--line {
  padding-top: 10px;
  border-top: 1px solid #fff;
}

.s_c_50 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.s_name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 56%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.s_name_h2 {
  color: #fff;
  font-size: 120%;
  line-height: 160%;
}

.s_c_price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.s_pic_big {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  padding-right: 20px;
  padding-left: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.s_cont {
  padding-top: 40px;
}

.s_price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  margin-top: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px none hsla(0, 0%, 100%, .28);
}

.s_price.hidden {
  display: none;
}

.s_pic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 36%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.c_price_new {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h_logo {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.icon_cart {
  position: absolute;
  width: 18px;
  padding-left: 1px;
}

.c_txt1_price_count {
  position: relative;
  display: none;
  width: 100%;
  color: #f2542d;
  font-size: 100%;
}

.c_price_block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.c_price_block.c_price_block--slider {
  position: relative;
  left: 0px;
  right: 0px;
  width: auto;
  text-align: left;
}

.h_logo_img {
  width: 200px;
}

.price_old_strike {
  position: absolute;
  left: 0px;
  top: 42%;
  right: 0px;
  bottom: 0px;
  height: 50%;
  border-top: 1px solid #f2542d;
}

.k_q_but_plus {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  min-width: 30px;
  padding-right: 4px;
  padding-left: 4px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 200ms ease, -webkit-transform 200ms ease;
  transition: opacity 200ms ease, -webkit-transform 200ms ease;
  transition: opacity 200ms ease, transform 200ms ease;
  transition: opacity 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
  font-size: 120%;
  cursor: pointer;
}

.k_q_but_plus:hover {
  opacity: 0.78;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.k_q_but_plus.disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

.k_delete {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 20px;
  min-width: 40px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Union.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 0.31;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Materialicons, sans-serif;
  font-size: 24px;
  cursor: pointer;
}

.k_delete:hover {
  opacity: 1;
  color: #ad0000;
}

.k_delete.hidden {
  display: none;
}

.k_q_glow {
  position: absolute;
  z-index: 0;
  width: 100px;
  height: 100px;
  border-radius: 400px;
  background-color: hsla(0, 0%, 100%, .14);
  opacity: 0;
}

.k_q_glow.xxx_theme_light {
  background-color: #fcb4a2;
}

.k_next_close_cart {
  padding: 10px 20px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  cursor: pointer;
}

.k_next_close_cart:hover {
  color: #f2542d;
}

.k_next_close_cart.k_ix_hide {
  position: absolute;
  top: 0px;
  right: 0px;
}

.bg_pic {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
  font-family: 'Graphik cy web', sans-serif;
  color: #dbdbdb;
  font-size: 13px;
  line-height: 140%;
}

.bg_pic.bg_pp {
  display: none;
  background-image: url('../images/bg1.81c3a863.jpg');
  background-position: 50% 0px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg_pic.temp--atari {
  background-color: #fff;
  color: #1a1a1a;
}

.float {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: -webkit-linear-gradient(270deg, transparent, rgba(0, 0, 0, .59) 87%);
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .59) 87%);
  opacity: 0;
}

.float.shown {
  opacity: 1;
}

.float.shown.xxx_theme_light {
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .59) 87%);
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .59) 87%);
}

.float.xxx_theme_light {
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .59) 87%);
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .59) 87%);
}

.float.xsolla_panel {
  right: 300px;
}

.float_but {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 60px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, .41);
  border-radius: 200px;
  background-color: rgba(0, 0, 0, .59);
  -webkit-transition: opacity 200ms ease, background-color 200ms ease, color 200ms ease;
  transition: opacity 200ms ease, background-color 200ms ease, color 200ms ease;
  font-size: 120%;
  text-transform: uppercase;
  cursor: pointer;
}

.float_but:hover {
  border-color: #fff;
  background-color: rgba(0, 0, 0, .73);
  color: #fff;
}

.float_but.xxx_theme_light {
  border-color: rgba(0, 0, 0, .41);
  background-color: hsla(0, 0%, 100%, .53);
  color: #000;
}

.float_but_ico {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 22px;
  height: 22px;
  margin-right: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: red;
  background-image: url('../images/Cart.svg');
  background-position: 50% 50%;
  background-size: 14px;
  background-repeat: no-repeat;
}

.c_block {
  margin-bottom: 40px;
  border-radius: 4px;
}

.c_block.hidden {
  display: none;
}

.hh_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.but_price {
  padding-left: 10px;
}

.grid-item-gif {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  height: 280px;
  min-height: 280px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 33%;
  -webkit-flex: 33%;
  -ms-flex: 33%;
  flex: 33%;
  background-color: #000;
  background-image: url('../images/Tier3GIF_2MB25fps_still.gif');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.grid-item-gif:hover {
  background-image: url('../images/Tier3GIF_2MB25fps.gif'), url('../images/Tier3GIF_2MB25fps_still.gif');
  background-position: 50% 50%, 50% 50%;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
}

.grid-item-gif.featured {
  width: 480px;
}

.grid-item-gif.third {
  width: 320px;
}

.grid-item-gif.item_active {
  opacity: 0.27;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.grid-item-gif.grid-item-top {
  height: 360px;
  margin-bottom: 20px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 33%;
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
}

.grid-item-gif.grid-item-top.pop {
  background-color: #0f0f0f;
}

.grid-item-gif.grid-item-withbg {
  height: 350px;
}

.grid-item-gif.grid-item-withbg.pop {
  background-color: #0f0f0f;
}

.temp {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.q {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 500;
  display: none;
  width: 300px;
  padding: 40px 40px 20px;
  background-color: #212225;
}

.q.shown {
  display: block;
  color: #fff;
}

.q_block {
  margin-bottom: 20px;
}

.q_form_submit.hidden {
  display: none;
}

.cc {
  width: 100%;
  max-width: 920px;
}

.float_but_glow {
  position: absolute;
  z-index: 0;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-color: #ff3401;
  opacity: 0;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
}

.float_but_glow.shown {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.q_close {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .21);
  cursor: pointer;
}

.q_close:hover {
  background-color: rgba(0, 0, 0, .49);
}

.q_temp_textarea {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  height: 300px;
}

.h_cart_icon {
  width: 22px;
  height: 22px;
  background-image: url('../images/Cart.svg');
  background-position: 50% 50%;
  background-size: 22px 22px;
  background-repeat: no-repeat;
}

.h_cart_icon.xxx_theme_light {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.h_cart_icon.xxx_theme_3 {
  -webkit-filter: none;
  filter: none;
}

.b.xsolla_panel {
  padding-right: 300px;
}

html.w-mod-js *[data-ix="x-2-m-label"] {
  opacity: 0;
  -webkit-transform: translate(-70px, 0px);
  -ms-transform: translate(-70px, 0px);
  transform: translate(-70px, 0px);
}

html.w-mod-js *[data-ix="x-glow"] {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

html.w-mod-js *[data-ix="cart-step-init"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

@media (max-width: 991px) {
  .bb {
    padding-top: 50px;
  }
  .m {
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .c {
    padding-right: 20px;
    padding-left: 20px;
  }
  .grid-item.grid-item-top {
    width: 50%;
  }
  .grid-item.grid-item-withbg {
    width: 50%;
  }
  .h {
    height: 50px;
  }
  .grid {
    max-width: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .c_h {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .item {
    width: 100%;
  }
  .heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, .16);
  }
  .x_h1 {
    width: 100%;
    border-bottom: 1px none hsla(0, 0%, 100%, .15);
  }
  .h_bg_line {
    left: 20px;
    right: 20px;
  }
  .m_ul {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 12px;
  }
  .m_li {
    margin-right: 0px;
    margin-left: 0px;
  }
  .grid-item-gif.grid-item-top {
    width: 50%;
  }
  .grid-item-gif.grid-item-withbg {
    width: 50%;
  }
  .temp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .bb {
    font-size: 12px;
  }
  .m {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 100%;
  }
  .c {
    padding-right: 8px;
    padding-left: 8px;
  }
  .grid-item {
    width: 33%;
  }
  .c_txt {
    padding-right: 20px;
    padding-left: 20px;
  }
  .x_h1 {
    font-size: 120%;
  }
  .h_bg_line {
    left: 8px;
    right: 8px;
  }
  .m_ul {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .grid-item-gif {
    width: 33%;
  }
  .temp {
    font-size: 80%;
    text-align: center;
  }
}

@media (max-width: 479px) {
  .bb {
    font-size: 12px;
  }
  .m {
    min-height: 40px;
    font-family: 'Sequel sans display';
    font-weight: 400;
    text-transform: uppercase;
  }
  .grid-item {
    width: 50%;
  }
  .c_txt {
    padding-right: 16px;
    padding-left: 16px;
  }
  .x_h1 {
    font-size: 90%;
    text-align: left;
  }
  .m_li {
    min-height: 30px;
    margin-right: 10px;
    font-size: 10px;
  }
  .m_li.active {
    min-height: 20px;
    padding-right: 2px;
    padding-left: 2px;
  }
  .grid-item-gif {
    width: 50%;
  }
  .temp {
    padding-right: 5%;
    padding-left: 5%;
    font-size: 80%;
  }
}

@font-face {
  font-family: 'Graphik cy web';
  src: url('../fonts/Graphik-Black-Cy-Web.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik cy web';
  src: url('../fonts/Graphik-Bold-Cy-Web.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik cy web';
  src: url('../fonts/Graphik-Light-Cy-Web.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik cy web';
  src: url('../fonts/Graphik-Medium-Cy-Web.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik cy web';
  src: url('../fonts/Graphik-Regular-Cy-Web.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik cy web';
  src: url('../fonts/Graphik-Semibold-Cy-Web.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Materialicons';
  src: url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fenotype praktika';
  src: url('../fonts/Fenotype---Praktika-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}